<h1>Submit your Resturant</h1>
<br>
<br>
<form mehod="POST" action="/eatery">

<label>Name:</label>
<input type="text" name="name"/><br>
<label>Owner Name:</label>
<input type="text" owner="name"/><br>
<label>Cuisines:</label>
<input type="text" type_of_food="name"/><br>
<label>Neighborhood:</label>
<input type="text" neighborhood="name"/><br>
<label>Address:</label>
<input type="text" address="name"/><br>
<label>Website:</label>
<input type="text" website="name"/><br>
<label>Instagram:</label>
<input type="text" instagram="name"/><br>
<br>
<input type="submit" value="submit"/>


