<h1>Login Here</h1>

<form method="POST" action="/login">
<label>Email:</label>
<input type="email" name="user[email]"/><br/>
<label>Password:</label>
<input type="password" name="user[password]" >
<br/>
<input type="submit" value="Login"/>
</form>