<h1>User Sign Up</h1>
<br/>
<br/>
<%= @error %>
<form method="POST" action="/user">
<label>First Name:</label>
<input type="text" name="user[first_name]"/><br/>
<label>Last Name:</label>
<input type="text" name="user[last_name]"/><br/>
<label>Email:</label>
<input type="email" name="user[email]"/><br/>
<label>Password:</label>
<input type="password" name="user[password]" >
<br/>
<br/>
<input type="submit" value="Sign Up"/>
</form>
