<h1>Rating/Review</h1>
<br>
<br>
<form method="POST" action="/checkin_and_rating">

<label>Customer Service:</label>
<input type="integer" rating="number"/><br>
<label>Product Quality:</label>
<input type="integer" rating="number"/><br>
<label>Checkout Experience:</label>
<input type="integer" rating="number"/><br>
<label>Overall Experience:</label>
<input type="integer" rating="name"/><br>
<br>
<input type="submit" value="submit"/>
      <%# t.integer :user_id
      t.integer :eatery_id
      t.boolean :checkin 
      t.integer :rating  %>